.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(214, 214, 214);
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  /* width: 300px;
  height: 300px; */
}

.card:hover {
  box-shadow: rgb(105, 196, 105) 0px 5px 15px;
  transform: scale(1.03);
}

.card img {
  width: 150px;
  height: 150px;
}
