.difficulty-selection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  width: fit-content;
  padding: 50px;
  border-radius: 10px;
  margin: 0 20px;
  margin-bottom: 100px;
}

.difficulty-selection h2 {
  font-size: 3rem;
  color: white;
  text-align: center;
}

.difficulty-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: white;
}

.difficulty-buttons .easy {
  color: green;
}
.difficulty-buttons .medium {
  color: rgb(255, 196, 0);
}
.difficulty-buttons .hard {
  color: red;
}

.difficulty-buttons button,
.difficulty-selection .play-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.4rem;
}

.difficulty-buttons button {
  font-size: 1.7rem;
}

.difficulty-buttons button:hover {
  text-decoration: underline;
}

.difficulty-buttons button.selected {
  text-decoration: underline;
}

.difficulty-selection p {
  font-size: 2rem;
}

.difficulty-selection .play-button {
  color: rgb(0, 174, 255);
  text-align: center;
}

.difficulty-selection .play-button:hover {
  text-decoration: underline;
}

.difficulty-selection .quit-button {
  color: red;
}

.difficulty-selection .action-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-weight: bold;
}

.difficulty-selection .action-buttons button {
  font-weight: bold;
}
